# db
# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=
# DB_NAME=sleepsync_db
DATABASE_URL=postgresql:xxxx

# Server
PORT=xxxx

# jwt
JWT_SECRET=xxxxx
JWT_EXPIRES_IN=7d

# BACKEND_URL=http://localhost:xxxx
BACKEND_URL=https://xxxx

# email
EMAIL_USER=xxxx@gmail.com
EMAIL_PASS=xxxx

# ml server
ML_SERVER_URL=http:xxxx
